USE [AIDE]
GO
/****** Object:  View [dbo].[vw_Profiles]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP VIEW [dbo].[vw_Profiles]
GO
/****** Object:  View [dbo].[vw_Profiles]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE VIEW [dbo].[vw_Profiles]
	AS
	SELECT	dbo.EMPLOYEE.EMP_ID, dbo.EMPLOYEE.LAST_NAME, dbo.EMPLOYEE.FIRST_NAME, dbo.EMPLOYEE.MIDDLE_NAME, dbo.EMPLOYEE.NICK_NAME, 
			dbo.EMPLOYEE.BIRTHDATE, dbo.EMPLOYEE.DATE_HIRED, dbo.EMPLOYEE.IMAGE_PATH, dbo.DEPARTMENT.DESCR AS Department, 
			dbo.DIVISION.DESCR AS Division, dbo.POSITION.DESCR AS Position, dbo.CONTACTS.EMAIL_ADDRESS2, dbo.CONTACTS.LOCATION, dbo.CONTACTS.CEL_NO, 
			dbo.CONTACTS.LOCAL, dbo.CONTACTS.HOMEPHONE, dbo.CONTACTS.OTHER_PHONE, dbo.CONTACTS.DT_REVIEWED, 
			dbo.PERMISSION_GROUP.DESCR AS Permission, dbo.PERMISSION_GROUP.GRP_ID AS PERMISSION_ID, dbo.STATUS.DESCR AS CivilStatus, dbo.CONTACTS.EMAIL_ADDRESS, dbo.EMPLOYEE.WS_EMP_ID, 
			dbo.DEPARTMENT.DEPT_ID, dbo.EMPLOYEE.SHIFT_STATUS
	FROM    dbo.STATUS INNER JOIN
			dbo.CONTACTS INNER JOIN
			dbo.EMPLOYEE ON dbo.CONTACTS.EMP_ID = dbo.EMPLOYEE.EMP_ID INNER JOIN
			dbo.PERMISSION_GROUP ON dbo.EMPLOYEE.GRP_ID = dbo.PERMISSION_GROUP.GRP_ID INNER JOIN
			dbo.POSITION ON dbo.EMPLOYEE.POS_ID = dbo.POSITION.POS_ID INNER JOIN
			dbo.DEPARTMENT ON dbo.EMPLOYEE.DEPT_ID = dbo.DEPARTMENT.DEPT_ID INNER JOIN
			dbo.DIVISION ON dbo.EMPLOYEE.DIV_ID = dbo.DIVISION.DIV_ID ON dbo.STATUS.STATUS = dbo.EMPLOYEE.STATUS
	WHERE   (dbo.STATUS.STATUS_ID = 1 AND dbo.EMPLOYEE.ACTIVE = 1)



GO
