USE [AIDE]
GO
/****** Object:  View [dbo].[vw_Employees]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP VIEW [dbo].[vw_Employees]
GO
/****** Object:  View [dbo].[vw_Employees]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[vw_Employees]
	AS
	SELECT E.EMP_ID, E.FIRST_NAME, E.MIDDLE_NAME AS MIDDLE_INITIAL, E.LAST_NAME, E.NICK_NAME, E.BIRTHDATE, E.DATE_HIRED, E.IMAGE_PATH, E.GRP_ID, 
           C.EMAIL_ADDRESS, C.EMAIL_ADDRESS2, C.LOCATION, C.CEL_NO, C.LOCAL, C.HOMEPHONE, C.OTHER_PHONE, C.DT_REVIEWED
	FROM   dbo.EMPLOYEE AS E INNER JOIN
           dbo.CONTACTS AS C ON E.EMP_ID = C.EMP_ID

GO
