USE [AIDE]
GO
/****** Object:  View [dbo].[vw_AssignedProjects]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP VIEW [dbo].[vw_AssignedProjects]
GO
/****** Object:  View [dbo].[vw_AssignedProjects]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[vw_AssignedProjects] AS
	SELECT dbo.EMPLOYEE.EMP_ID, dbo.EMPLOYEE.LAST_NAME, dbo.EMPLOYEE.FIRST_NAME, dbo.EMPLOYEE.MIDDLE_NAME, dbo.PROJECT.PROJ_NAME, 
		   dbo.ASSIGNED_PROJECTS.START_PERIOD, dbo.ASSIGNED_PROJECTS.END_PERIOD
	FROM   dbo.ASSIGNED_PROJECTS INNER JOIN dbo.PROJECT ON dbo.ASSIGNED_PROJECTS.PROJ_ID = dbo.PROJECT.PROJ_ID 
		   INNER JOIN dbo.EMPLOYEE ON dbo.ASSIGNED_PROJECTS.EMP_ID = dbo.EMPLOYEE.EMP_ID

GO
