USE [AIDE]
GO

/****** Object:  Table [dbo].[OPTION_FUNCTION]    Script Date: 7/2/2020 12:00:09 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OPTION_FUNCTION]') AND type in (N'U'))
DROP TABLE [dbo].[OPTION_FUNCTION]
GO

/****** Object:  Table [dbo].[OPTION_FUNCTION]    Script Date: 7/2/2020 12:00:09 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[OPTION_FUNCTION](
	[FunctionID] [int] NOT NULL,
	[Description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_OPTION_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


