USE [AIDE]
GO
/****** Object:  Table [dbo].[ASSETS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSETS]
GO
/****** Object:  Table [dbo].[ASSETS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASSETS](
	[ASSET_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[ASSET_DESC] [varchar](50) NOT NULL,
	[MANUFACTURER] [varchar](20) NOT NULL,
	[MODEL_NO] [varchar](20) NOT NULL,
	[SERIAL_NO] [varchar](20) NOT NULL,
	[ASSET_TAG] [varchar](50) NOT NULL,
	[DATE_PURCHASED] [datetime] NOT NULL,
	[STATUS] [int] NOT NULL,
	[OTHER_INFO] [varchar](50) NULL,
	[PREVIOUS_ID] [int] NULL,
	[BORROW_FG] [int] NULL DEFAULT ((0)),
	[BORROW_STATUS] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_ASSETS] PRIMARY KEY CLUSTERED 
(
	[ASSET_ID] ASC,
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
