USE [AIDE]
GO
/****** Object:  Table [dbo].[SKILLS_PROF]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SKILLS_PROF]
GO
/****** Object:  Table [dbo].[SKILLS_PROF]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS_PROF](
	[EMP_ID] [int] NOT NULL,
	[SKILL_ID] [int] NOT NULL,
	[PROF_LVL] [int] NULL,
	[LAST_REVIEWED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
