USE [AIDE]
GO
/****** Object:  Table [dbo].[DIVISION]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[DIVISION]
GO
/****** Object:  Table [dbo].[DIVISION]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIVISION](
	[DEPT_ID] [smallint] NOT NULL,
	[DIV_ID] [smallint] NOT NULL,
	[DESCR] [varchar](50) NULL,
 CONSTRAINT [PK_DIVISION] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC,
	[DIV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
