USE [AIDE]
GO
/****** Object:  Table [dbo].[COMCELL_MEETING]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[COMCELL_MEETING]
GO
/****** Object:  Table [dbo].[COMCELL_MEETING]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMCELL_MEETING](
	[COMCELL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[MONTH] [varchar](10) NOT NULL,
	[FACILITATOR] [varchar](20) NOT NULL,
	[MINUTES_TAKER] [varchar](20) NOT NULL,
	[FY_START] [date] NULL,
	[FY_END] [date] NULL,
	[DSPLY_ORDR] [int] NULL,
 CONSTRAINT [PK_COMCELL_ID] PRIMARY KEY CLUSTERED 
(
	[COMCELL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
