USE [AIDE]
GO
/****** Object:  Table [dbo].[ACTION_REFERNCE_3CS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ACTION_REFERNCE_3CS]
GO
/****** Object:  Table [dbo].[ACTION_REFERNCE_3CS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTION_REFERNCE_3CS](
	[ACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[REF_ID] [varchar](max) NOT NULL,
	[ACTREF] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
