USE [AIDE]
GO

/****** Object:  Table [dbo].[OPTION_MODULE]    Script Date: 7/2/2020 12:00:37 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OPTION_MODULE]') AND type in (N'U'))
DROP TABLE [dbo].[OPTION_MODULE]
GO

/****** Object:  Table [dbo].[OPTION_MODULE]    Script Date: 7/2/2020 12:00:37 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[OPTION_MODULE](
	[ModuleID] [int] NOT NULL,
	[Description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_OPTION_MODULE] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


