USE [AIDE]
GO
/****** Object:  Table [dbo].[SKILLS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SKILLS]
GO
/****** Object:  Table [dbo].[SKILLS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS](
	[SKILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCR] [nvarchar](50) NOT NULL,
	[DSPLY_ORDR] [smallint] NULL,
 CONSTRAINT [PK_SKILLS] PRIMARY KEY CLUSTERED 
(
	[SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
