USE [AIDE]
GO
/****** Object:  Table [dbo].[RESOURCE_PLANNER]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[RESOURCE_PLANNER]
GO
/****** Object:  Table [dbo].[RESOURCE_PLANNER]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESOURCE_PLANNER](
	[EMP_ID] [int] NOT NULL,
	[DATE_ENTRY] [datetime] NOT NULL,
	[STATUS] [int] NOT NULL,
	[COUNTS] [float] NULL,
	[STATUS_CD] [int] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[DATE_ENTRY] ASC,
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
