USE [AIDE]
GO
/****** Object:  Table [dbo].[SABA_COURSES]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SABA_COURSES]
GO
/****** Object:  Table [dbo].[SABA_COURSES]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SABA_COURSES](
	[SABA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[END_DATE] [date] NOT NULL,
 CONSTRAINT [PK_SABA_COURSES] PRIMARY KEY CLUSTERED 
(
	[SABA_ID] ASC,
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
