USE [AIDE]
GO
/****** Object:  Table [dbo].[WEEKLY_REPORT]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[WEEKLY_REPORT]
GO
/****** Object:  Table [dbo].[WEEKLY_REPORT]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEEKLY_REPORT](
	[WR_ID] [int] IDENTITY(1,1) NOT NULL,
	[WR_WEEK_RANGE_ID] [int] NOT NULL,
	[WR_PROJ_ID] [int] NOT NULL,
	[WR_REWORK] [smallint] NULL,
	[WR_REF_ID] [varchar](10) NULL,
	[WR_SUBJECT] [varchar](max) NULL,
	[WR_SEVERITY] [smallint] NULL,
	[WR_INC_TYPE] [smallint] NULL,
	[WR_EMP_ID] [int] NOT NULL,
	[WR_PHASE] [smallint] NULL,
	[WR_STATUS] [smallint] NOT NULL,
	[WR_DATE_STARTED] [date] NULL,
	[WR_DATE_TARGET] [date] NULL,
	[WR_DATE_FINISHED] [date] NULL,
	[WR_EFFORT_EST] [float] NULL,
	[WR_ACT_EFFORT_WK] [float] NOT NULL,
	[WR_ACT_EFFORT] [float] NULL,
	[WR_COMMENTS] [text] NULL,
	[WR_INBOUND_CONTACTS] [smallint] NULL,
	[WR_PROJ_CODE] [int] NULL,
	[WR_TASK_ID] [int] NULL,
	[WR_DELETE_FG] [smallint] NULL CONSTRAINT [WEEKLY_DELETE_COL]  DEFAULT ((0)),
 CONSTRAINT [PK_WEEKLY_REPORT] PRIMARY KEY CLUSTERED 
(
	[WR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
