USE [AIDE]
GO
/****** Object:  Table [dbo].[ASSETS_HISTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSETS_HISTORY]
GO
/****** Object:  Table [dbo].[ASSETS_HISTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSETS_HISTORY](
	[ASSET_HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[ASSET_ID] [int] NULL,
	[EMP_ID] [int] NULL,
	[TABLE_NAME] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
	[DATE_ASSIGNED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ASSET_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
