USE [AIDE]
GO
/****** Object:  Table [dbo].[SEARCH_HISTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SEARCH_HISTORY]
GO
/****** Object:  Table [dbo].[SEARCH_HISTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEARCH_HISTORY](
	[tran_id] [int] IDENTITY(1,1) NOT NULL,
	[search_input] [varchar](max) NOT NULL,
	[ref_id] [varchar](20) NULL,
 CONSTRAINT [PK_SEARCH_HISTORY] PRIMARY KEY CLUSTERED 
(
	[tran_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
