USE [AIDE]
GO
/****** Object:  Table [dbo].[SEND_CODE_CONFIG]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SEND_CODE_CONFIG]
GO
/****** Object:  Table [dbo].[SEND_CODE_CONFIG]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEND_CODE_CONFIG](
	[SC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SC_SENDER_EMAIL] [varchar](max) NOT NULL,
	[SC_SUBJECT] [varchar](max) NOT NULL,
	[SC_BODY] [varchar](max) NULL,
	[SC_PORT] [int] NOT NULL,
	[SC_HOST] [varchar](max) NOT NULL,
	[SC_ENABLE_SSL] [int] NOT NULL,
	[SC_TIMEOUT] [int] NOT NULL,
	[SC_USE_DFLT_CREDENTIALS] [int] NULL,
	[SC_SENDER_PASSWORD] [varchar](max) NULL,
	[SC_PASSWORD_EXPIRY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
