USE [AIDE]
GO
/****** Object:  Table [dbo].[WEEKLY_REPORT_XREF]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[WEEKLY_REPORT_XREF]
GO
/****** Object:  Table [dbo].[WEEKLY_REPORT_XREF]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEKLY_REPORT_XREF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WEEK_RANGE] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DATE_SUBMITTED] [date] NULL,
	[APPROVED_BY] [int] NULL,
 CONSTRAINT [PK_WEEKLY_REPORT_XREF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
