USE [AIDE]
GO
/****** Object:  Table [dbo].[LESSON_LEARNT]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[LESSON_LEARNT]
GO
/****** Object:  Table [dbo].[LESSON_LEARNT]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LESSON_LEARNT](
	[REF_NO] [varchar](20) NOT NULL,
	[EMP_ID] [int] NULL,
	[PROBLEM] [varchar](max) NOT NULL,
	[RESOLUTION] [varchar](max) NOT NULL,
	[ACTION_NO] [varchar](20) NULL,
	[DATE_CREATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REF_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
