USE [AIDE]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENTS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ANNOUNCEMENTS]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENTS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENTS](
	[ANNOUNCEMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[TITLE] [varchar](150) NOT NULL,
	[MESSAGE] [varchar](max) NOT NULL,
	[END_DATE] [date] NOT NULL,
	[DELETED_FG] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_ANNOUNCEMENTS] PRIMARY KEY CLUSTERED 
(
	[ANNOUNCEMENT_ID] ASC,
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
