USE [AIDE]
GO
ALTER TABLE [dbo].[ASSIGNED_PROJECTS] DROP CONSTRAINT [FK_ASSIGNED_PROJECTS_ASSIGNED_PROJECTS]
GO
/****** Object:  Table [dbo].[ASSIGNED_PROJECTS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSIGNED_PROJECTS]
GO
/****** Object:  Table [dbo].[ASSIGNED_PROJECTS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNED_PROJECTS](
	[EMP_ID] [int] NOT NULL,
	[PROJ_ID] [int] NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[START_PERIOD] [datetime] NOT NULL,
	[END_PERIOD] [datetime] NOT NULL,
 CONSTRAINT [PK_ASSIGNED_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[PROJ_ID] ASC,
	[DATE_CREATED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ASSIGNED_PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNED_PROJECTS_ASSIGNED_PROJECTS] FOREIGN KEY([EMP_ID], [PROJ_ID], [DATE_CREATED])
REFERENCES [dbo].[ASSIGNED_PROJECTS] ([EMP_ID], [PROJ_ID], [DATE_CREATED])
GO
ALTER TABLE [dbo].[ASSIGNED_PROJECTS] CHECK CONSTRAINT [FK_ASSIGNED_PROJECTS_ASSIGNED_PROJECTS]
GO
