USE [AIDE]
GO
/****** Object:  Table [dbo].[SKILLS_DEPT]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SKILLS_DEPT]
GO
/****** Object:  Table [dbo].[SKILLS_DEPT]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS_DEPT](
	[EMP_ID] [int] NOT NULL,
	[SKILL_ID] [int] NOT NULL,
	[DISPLAY_FG] [tinyint] NOT NULL,
	[DSPLY_TO_ALL] [tinyint] NOT NULL,
 CONSTRAINT [PK_SKILLS_DEPT] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[SKILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
