USE [AIDE]
GO
/****** Object:  Table [dbo].[COMMENDATIONS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[COMMENDATIONS]
GO
/****** Object:  Table [dbo].[COMMENDATIONS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMENDATIONS](
	[COMMEND_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE] [varchar](max) NOT NULL,
	[PROJECT] [varchar](20) NOT NULL,
	[DATE_SENT] [date] NOT NULL,
	[SENT_BY] [nvarchar](50) NULL,
	[REASON] [text] NULL,
	[EMP_ID] [int] NOT NULL,
	[DATE] [datetime] NULL CONSTRAINT [DF_COMMENDATIONS_DATE]  DEFAULT (getdate()),
 CONSTRAINT [PK_COMMENDATIONS] PRIMARY KEY CLUSTERED 
(
	[COMMEND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
