USE [AIDE]
GO
/****** Object:  Table [dbo].[WORKPLACE_AUDIT_QUARTERLY]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[WORKPLACE_AUDIT_QUARTERLY]
GO
/****** Object:  Table [dbo].[WORKPLACE_AUDIT_QUARTERLY]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKPLACE_AUDIT_QUARTERLY](
	[AUDIT_QUARTERLY_ID] [int] IDENTITY(1,1) NOT NULL,
	[AUDIT_QUESTIONS_ID] [int] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[FY_WEEK] [int] NOT NULL,
	[DT_CHECKED] [datetime] NULL,
	[DT_CHECK_FLG] [int] NULL,
	[WEEKDATE] [date] NULL,
 CONSTRAINT [PK_WORKPLACE_AUDIT_QUARTERLY] PRIMARY KEY CLUSTERED 
(
	[AUDIT_QUARTERLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
