USE [AIDE]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[PROJECT]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJ_NAME] [varchar](50) NOT NULL,
	[CATEGORY] [smallint] NOT NULL,
	[BILLABILITY] [smallint] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[DSPLY_FLG] [int] NOT NULL DEFAULT ((1)),
	[PROJ_CD] [nvarchar](10) NULL,
	[PROJ_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJ_ID] ASC,
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
