USE [AIDE]
GO
/****** Object:  Table [dbo].[WEEK_RANGE]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[WEEK_RANGE]
GO
/****** Object:  Table [dbo].[WEEK_RANGE]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEK_RANGE](
	[WEEK_ID] [int] IDENTITY(1,1) NOT NULL,
	[WEEK_START] [date] NOT NULL,
	[WEEK_END] [date] NOT NULL,
	[WEEK_NO] [int] NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
	[FISCAL_YEAR] [nvarchar](10) NULL,
 CONSTRAINT [PK_WEEK_RANGE] PRIMARY KEY CLUSTERED 
(
	[WEEK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
