USE [AIDE]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[LOCATION]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCATION](
	[LOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [varchar](50) NOT NULL,
	[ONSITE_FLG] [smallint] NULL,
	[HOLIDAY_FLG] [smallint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_LOCATION_ID] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
