USE [AIDE]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[DEPARTMENT]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] IDENTITY(0,1) NOT NULL,
	[DESCR] [varchar](50) NOT NULL,
	[BUILDING/FLOOR] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
