USE [AIDE]
GO
/****** Object:  Table [dbo].[SUCCESSREGISTER]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[SUCCESSREGISTER]
GO
/****** Object:  Table [dbo].[SUCCESSREGISTER]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCCESSREGISTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_INPUT] [date] NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[DETAILSOFSUCCESS] [text] NOT NULL,
	[WHOSINVOLVE] [text] NOT NULL,
	[ADDITIONALINFORMATION] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
