USE [AIDE]
GO
/****** Object:  Table [dbo].[REPORTS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[REPORTS]
GO
/****** Object:  Table [dbo].[REPORTS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTS](
	[REPORT_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPT_ID] [int] NOT NULL,
	[MODULE ID] [int] NOT NULL,
	[DESCRIPTION] [text] NULL,
	[VALUE] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
