USE [AIDE]
GO
/****** Object:  Table [dbo].[LEAVE_CREDITS]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[LEAVE_CREDITS]
GO
/****** Object:  Table [dbo].[LEAVE_CREDITS]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE_CREDITS](
	[LC_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[LEAVE_CREDITS] [float] NOT NULL,
	[STATUS] [int] NOT NULL,
	[FY_START] [date] NULL,
	[FY_END] [date] NULL,
 CONSTRAINT [PK_LEAVE_CREDITS] PRIMARY KEY CLUSTERED 
(
	[LC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
