USE [AIDE]
GO
/****** Object:  Table [dbo].[ASSET_TYPE]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSET_TYPE]
GO
/****** Object:  Table [dbo].[ASSET_TYPE]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSET_TYPE](
	[TYP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYP_DESCR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ASSET_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
