USE [AIDE]
GO
/****** Object:  Table [dbo].[PROF_LEVEL]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[PROF_LEVEL]
GO
/****** Object:  Table [dbo].[PROF_LEVEL]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROF_LEVEL](
	[PROF_LVL] [tinyint] NOT NULL,
	[DESCR] [nvarchar](50) NOT NULL,
	[TYP] [tinyint] NOT NULL,
 CONSTRAINT [PK_PROF_LEVEL] PRIMARY KEY CLUSTERED 
(
	[PROF_LVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
