USE [AIDE]
GO
/****** Object:  Table [dbo].[MANDATORY_COURSES]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[MANDATORY_COURSES]
GO
/****** Object:  Table [dbo].[MANDATORY_COURSES]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANDATORY_COURSES](
	[EMP_ID] [int] NOT NULL,
	[ASSIGNED_TO] [int] NOT NULL,
	[SABA_COURSE] [varchar](max) NOT NULL,
	[DUE_DATE] [date] NOT NULL,
	[DATE_COMPLETED] [date] NULL,
 CONSTRAINT [PK_MANDATORY_COURSES] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[ASSIGNED_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
