USE [AIDE]
GO
/****** Object:  Table [dbo].[AIDE_MESSAGE]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[AIDE_MESSAGE]
GO
/****** Object:  Table [dbo].[AIDE_MESSAGE]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AIDE_MESSAGE](
	[MESSAGE_ID] [int] NOT NULL,
	[SEC_ID] [int] NOT NULL,
	[MESSAGE_DESCR] [varchar](max) NOT NULL,
	[TITLE] [varchar](255) NOT NULL,
	[ORDER_BY] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
