USE [AIDE]
GO
/****** Object:  Table [dbo].[ASSETS_INVENTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSETS_INVENTORY]
GO
/****** Object:  Table [dbo].[ASSETS_INVENTORY]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSETS_INVENTORY](
	[ASSET_INVENTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[ASSET_ID] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DATE_ASSIGNED] [datetime] NOT NULL,
	[COMMENTS] [text] NULL,
	[APPROVAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ASSET_INVENTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
