USE [AIDE]
GO
/****** Object:  Table [dbo].[ASSET_MANUFACTURER]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP TABLE [dbo].[ASSET_MANUFACTURER]
GO
/****** Object:  Table [dbo].[ASSET_MANUFACTURER]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSET_MANUFACTURER](
	[MAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAN_DESCR] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MANUFACTURER] PRIMARY KEY CLUSTERED 
(
	[MAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
