USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAuditSched]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateAuditSched]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAuditSched]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAuditSched]
	-- Add the parameters for the stored procedure here
	@AUDIT_SCHED_ID INT,
	
	@DAILY VARCHAR(15),
	@WEEKLY VARCHAR(15),
	@MONTHLY VARCHAR(15)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @FIRSTMONTH DATE, @LASTMONTH DATE
    -- Insert statements for procedure here
	DECLARE @FY_WEEK INT
	DECLARE @PERIOD_START DATETIME

	SELECT @FY_WEEK =FY_WEEK  FROM WORKPLACE_AUDIT_SCHEDULE WHERE AUDIT_SCHED_ID = @AUDIT_SCHED_ID
	SELECT @PERIOD_START = PERIOD_START  FROM WORKPLACE_AUDIT_SCHEDULE WHERE AUDIT_SCHED_ID = @AUDIT_SCHED_ID
	SELECT @PERIOD_START
	UPDATE [dbo].[WORKPLACE_AUDIT_SCHEDULE]
	SET 
		[DAILY] = @DAILY,
		[WEEKLY] = @WEEKLY,
		[MONTHLY] = @MONTHLY		
	WHERE [AUDIT_SCHED_ID] = @AUDIT_SCHED_ID

	---DAILY
		UPDATE WORKPLACE_AUDIT_DAILY SET EMP_ID = @DAILY WHERE FY_WEEK = @FY_WEEK
	---WEEKLY
		UPDATE WORKPLACE_AUDIT_WEEKLY SET EMP_ID = @WEEKLY WHERE FY_WEEK = @FY_WEEK
	---MONTHLY
		UPDATE WORKPLACE_AUDIT_MONTHLY SET EMP_ID = @MONTHLY WHERE MONTH(WEEKDATE) = MONTH(@PERIOD_START) AND YEAR(WEEKDATE) = YEAR(@PERIOD_START)

	---WORKPLACE_AUDIT_SCHEDULE UPDATE ALL FOR MONTHLY
		UPDATE WORKPLACE_AUDIT_SCHEDULE SET MONTHLY = @MONTHLY WHERE MONTH(PERIOD_START) = MONTH(@PERIOD_START) AND YEAR(PERIOD_START) = YEAR(@PERIOD_START)

END


GO
