USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAttendanceForManagers]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_InsertAttendanceForManagers]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAttendanceForManagers]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertAttendanceForManagers]
	@from DATETIME,
	@to DATETIME,
	@EMP_ID INT,
	@STATUS INT
AS

DECLARE @TODAYSTAT INT
DECLARE @GETCURDATESTART DATETIME
DECLARE @GETCURDATEEND DATETIME 

DECLARE @COUNT TINYINT
DECLARE @AFTERNOON_SHIFT VARCHAR(8) = (SELECT VALUE FROM dbo.[OPTION] WHERE OPTIONID = 6)

SELECT @GETCURDATESTART = CONVERT(VARCHAR(10), GETDATE(), 111) + ' 00:00:00.000'
SELECT @GETCURDATEEND = CONVERT(VARCHAR(10), GETDATE(), 111) + ' ' + @AFTERNOON_SHIFT

SET @TODAYSTAT = (SELECT STATUS FROM ATTENDANCE WHERE EMP_ID = @EMP_ID AND DATE_ENTRY BETWEEN @GETCURDATESTART AND @GETCURDATEEND)
SET @COUNT = (SELECT COUNT(a.DATE_ENTRY) FROM ATTENDANCE a WHERE a.EMP_ID = @EMP_ID and CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(DATE, @from))

IF @TODAYSTAT <> 11
	BEGIN
		WHILE @from <= @to
			BEGIN
				SET @COUNT = (SELECT COUNT(a.DATE_ENTRY) FROM ATTENDANCE a WHERE a.EMP_ID = @EMP_ID and CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(DATE, @from))
				IF @COUNT = 0
					BEGIN
						INSERT [dbo].[ATTENDANCE] ([EMP_ID],[DATE_ENTRY],[STATUS]) 
						VALUES (@EMP_ID, @from, @STATUS)

						EXEC [dbo].[sp_InsertResourcePlanner]
							 @EMP_ID = @EMP_ID ,			
							 @DATE_ENTRY = @from ,
							 @STATUS = @STATUS
					END 
				ELSE IF @COUNT > 0 AND @STATUS != 2
					BEGIN
						DECLARE @SETAFTERNOONTIME DATETIME

						SELECT @SETAFTERNOONTIME = CONVERT(VARCHAR(10), @from, 111) + ' ' + @AFTERNOON_SHIFT

						INSERT [dbo].[ATTENDANCE] ([EMP_ID],[DATE_ENTRY],[STATUS]) 
						VALUES (@EMP_ID, @SETAFTERNOONTIME, @STATUS)

						EXEC [dbo].[sp_InsertResourcePlanner]
							 @EMP_ID = @EMP_ID ,
							 @DATE_ENTRY = @SETAFTERNOONTIME ,
							 @STATUS = @STATUS
					END
				ELSE
					BEGIN
						UPDATE ATTENDANCE SET STATUS = 2 WHERE EMP_ID = @EMP_ID and DATE_ENTRY = CONVERT(DATETIME, GETDATE())
					END

				SET @from = DATEADD(DAY, 1, @from)
			END
	END
ELSE
	WHILE @from <= @to
		BEGIN
			SET @COUNT = (SELECT COUNT(a.DATE_ENTRY) FROM ATTENDANCE a WHERE a.EMP_ID = @EMP_ID and CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(DATE, @from))

			IF @COUNT = 1
				BEGIN
			
					SELECT @SETAFTERNOONTIME = CONVERT(VARCHAR(10), @from, 111) + ' ' + @AFTERNOON_SHIFT
		
					INSERT [dbo].[ATTENDANCE] ([EMP_ID],[DATE_ENTRY],[STATUS]) 
					VALUES (@EMP_ID,@SETAFTERNOONTIME,@STATUS)

					EXEC [dbo].[sp_InsertResourcePlanner]
						 @EMP_ID = @EMP_ID,	
						 @DATE_ENTRY = @SETAFTERNOONTIME,
						 @STATUS = @STATUS
				END
			ELSE
				BEGIN
					DECLARE @SETMORNINGTIME DATETIME = CONVERT(VARCHAR(10), @from, 111) + ' 00:00:00.000'
			
					INSERT [dbo].[ATTENDANCE] ([EMP_ID],[DATE_ENTRY],[STATUS])
					VALUES (@EMP_ID, @from, @STATUS)

					EXEC [dbo].[sp_InsertResourcePlanner]
						 @EMP_ID = @EMP_ID ,			
						 @DATE_ENTRY = @from ,
						 @STATUS = @STATUS
				END

			SET @from=DATEADD(DAY,1,@from)
		END




GO
