USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProjectByEmployeeList]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetProjectByEmployeeList]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProjectByEmployeeList]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetProjectByEmployeeList]
	@EMP_ID INT
AS

	DECLARE @DEPT_ID AS SMALLINT = (SELECT DEPT_ID FROM EMPLOYEE WHERE EMP_ID = @EMP_ID)
	DECLARE @DIV_ID AS SMALLINT = (SELECT DIV_ID FROM EMPLOYEE WHERE EMP_ID = @EMP_ID)

	DECLARE @guestAccount SMALLINT = 5 
	DECLARE @TEMPTABLE TABLE([STATUS] INT, EMP_ID INT)

	SELECT DISTINCT
		   S.[DESCR] AS [STATUS],
		   COALESCE(LAST_NAME +', ','') + FIRST_NAME AS Name,
		   FirstMonth = STUFF((SELECT ', ' + PROJ_NAME FROM PROJECT P, ASSIGNED_PROJECTS A
							   WHERE E.EMP_ID = A.EMP_ID AND P.PROJ_ID = A.PROJ_ID ORDER BY A.START_PERIOD --AND MONTH(A.END_PERIOD) >= MONTH(GETDATE())
							   FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''),
		   SecondMonth = STUFF((SELECT ', ' + P.PROJ_NAME FROM PROJECT P, ASSIGNED_PROJECTS A
								WHERE E.EMP_ID = A.EMP_ID AND P.PROJ_ID = A.PROJ_ID ORDER BY A.START_PERIOD--AND MONTH(A.END_PERIOD) >= (MONTH(GETDATE())+1)
								FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, ''),
		   ThirdMonth = STUFF((SELECT ', ' + PROJ_NAME FROM PROJECT P, ASSIGNED_PROJECTS A
							   WHERE E.EMP_ID = A.EMP_ID AND P.PROJ_ID = A.PROJ_ID ORDER BY A.START_PERIOD--AND MONTH(A.END_PERIOD) >= (MONTH(GETDATE())+2)
							   FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '')
	FROM [EMPLOYEE] E
	LEFT JOIN [ATTENDANCE] AS A ON A.EMP_ID = E.EMP_ID
	LEFT JOIN @TEMPTABLE AS T ON T.EMP_ID = E.EMP_ID
	LEFT JOIN [STATUS] AS S ON S.[STATUS] = T.[STATUS] AND S.STATUS_ID = 1
	WHERE DEPT_ID = @DEPT_ID 
	AND DIV_ID = @DIV_ID 
	AND GRP_ID != @guestAccount
	AND ACTIVE <> 2
				   

GO
