USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProjects]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetAllProjects]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProjects]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllProjects]
	@EMP_ID INT,
	@DISPLAY_STATUS INT
AS

	DECLARE @DEPT_ID VARCHAR(MAX) = (SELECT DEPT_ID FROM EMPLOYEE WHERE EMP_ID = @Emp_ID)
	DECLARE @DIV_ID VARCHAR(MAX) = (SELECT DIV_ID FROM EMPLOYEE WHERE EMP_ID = @Emp_ID)

	IF @DISPLAY_STATUS = 0 -- Display only Billable Projects
		BEGIN
			SELECT A.[PROJ_ID], A.[PROJ_CD], A.[PROJ_NAME], A.[CATEGORY], A.[BILLABILITY]
			FROM [dbo].[PROJECT] A
			INNER JOIN EMPLOYEE B ON A.EMP_ID = B.EMP_ID
			WHERE A.DSPLY_FLG = 1 
			AND B.DEPT_ID = @DEPT_ID AND DIV_ID = @DIV_ID
			AND BILLABILITY = 1
			AND A.[PROJ_ID] IN 
			(
				SELECT PROJ_ID FROM [ASSIGNED_PROJECTS] WHERE EMP_ID=@EMP_ID
			)
			ORDER BY PROJ_NAME ASC
		END
	ELSE IF @DISPLAY_STATUS = 1 -- Display All Projects
		BEGIN
			SELECT A.[PROJ_ID], A.[PROJ_CD], A.[PROJ_NAME], A.[CATEGORY], A.[BILLABILITY]
			FROM [dbo].[PROJECT] A
			INNER JOIN EMPLOYEE B ON A.EMP_ID = B.EMP_ID
			WHERE A.DSPLY_FLG = 1 
			AND B.DEPT_ID = @DEPT_ID AND DIV_ID = @DIV_ID
			AND A.[PROJ_ID] IN 
			(
				SELECT PROJ_ID FROM [ASSIGNED_PROJECTS] WHERE EMP_ID=@EMP_ID
				union
				SELECT PROJ_ID FROM [PROJECT] WHERE BILLABILITY=0
			)
			ORDER BY PROJ_NAME ASC
		END




GO
