USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelLeave]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_CancelLeave]
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelLeave]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CancelLeave] 
	@EMP_ID INT,
	@LEAVE_TYPE INT,
	@START_DATE DATETIME,
	@END_DATE DATETIME
AS

-- For Halfday leaves
IF @LEAVE_TYPE IN (5, 6, 9, 12, 14)
	BEGIN
		UPDATE ATTENDANCE SET STATUS_CD = 0 
		WHERE EMP_ID = @EMP_ID AND STATUS = @LEAVE_TYPE 
		AND DATE_ENTRY = @START_DATE
	END
ELSE
	BEGIN
		UPDATE ATTENDANCE SET STATUS_CD = 0 
		WHERE EMP_ID = @EMP_ID AND STATUS = @LEAVE_TYPE 
		AND CONVERT(DATE, DATE_ENTRY) BETWEEN CONVERT(DATE, @START_DATE) AND CONVERT(DATE, @END_DATE)
	END





GO
