USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActionListsMessage]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetActionListsMessage]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActionListsMessage]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetActionListsMessage] 

	@MESSAGE VARCHAR(MAX),
	@EMAIL_ADDRESS VARCHAR(50)
AS

BEGIN

	SELECT a.ACTREF,a.ACT_MESSAGE,a.EMP_ID,a.DUE_DATE,a.DATE_CLOSED,b.FIRST_NAME AS 'NICK_NAME'
	FROM dbo.ACTIONLIST a INNER JOIN dbo.EMPLOYEE b 
	ON a.EMP_ID = b.EMP_ID
	WHERE (ACT_MESSAGE LIKE '%' + @MESSAGE + '%' OR B.FIRST_NAME LIKE '%' + @MESSAGE + '%')
	AND B.DEPT_ID = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	AND B.DIV_ID = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	ORDER BY A.DATE_CREATED DESC
	
END

GO
