USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateComcellClock]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateComcellClock]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateComcellClock]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateComcellClock] 
@CLOCK_DAY INT,
@CLOCK_HOUR INT, 
@CLOCK_MINUTE INT, 
@EMP_ID INT,
@MIDDAY VARCHAR(50)
AS
DECLARE
		@DEPT_ID INT = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMP_ID = @EMP_ID),
		@DIV_ID INT = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMP_ID = @EMP_ID),
		@FOUND INT
BEGIN

SET @FOUND = (SELECT COUNT(*) FROM COMCELL_CLOCK WHERE EMP_ID in (SELECT EMP_ID FROM EMPLOYEE WHERE DIV_ID = @DIV_ID AND DEPT_ID = @DEPT_ID))

IF @FOUND >= 1
UPDATE COMCELL_CLOCK SET 
CLOCK_DAY = @CLOCK_DAY, 
CLOCK_HOUR =@CLOCK_HOUR, 
CLOCK_MINUTE = @CLOCK_MINUTE,
EMP_ID =  @EMP_ID,
MIDDAY = @MIDDAY
WHERE EMP_ID in (SELECT EMP_ID FROM EMPLOYEE WHERE DIV_ID = @DIV_ID AND DEPT_ID = @DEPT_ID)
ELSE
INSERT INTO [dbo].[COMCELL_CLOCK]
           ([CLOCK_DAY]
           ,[CLOCK_HOUR]
           ,[CLOCK_MINUTE]
		   ,[EMP_ID]
		   ,[MIDDAY])
     VALUES
           (@CLOCK_DAY,@CLOCK_HOUR,@CLOCK_MINUTE,@EMP_ID,@MIDDAY)
END
GO
