USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWeeklyReportByWeekRangeAndEmpID]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetWeeklyReportByWeekRangeAndEmpID]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWeeklyReportByWeekRangeAndEmpID]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetWeeklyReportByWeekRangeAndEmpID]
	@WK_RANGE_ID INT,
	@CURRENT_DATE DATE,
	@EMP_ID INT
AS

BEGIN
	DECLARE @MONDAY DATE
	DECLARE @FRIDAY DATE
	
	---- BEGIN GET CURRENT WEEK DATE
	--IF ((DATENAME(dw, @CURRENT_DATE)) ='Monday') BEGIN
	--	SET @MONDAY = @CURRENT_DATE; END

	--ELSE IF ((DATENAME(dw, @CURRENT_DATE)) ='Tuesday') BEGIN
	--	SET @MONDAY = DATEADD(day, -1, @CURRENT_DATE); END

	--ELSE IF ((DATENAME(dw,@CURRENT_DATE)) ='Wednesday') BEGIN
	--	SET @MONDAY = DATEADD(day, -2, @CURRENT_DATE); END

	--ELSE IF ((DATENAME(dw,@CURRENT_DATE)) ='Thursday')  BEGIN
	--	SET @MONDAY = DATEADD(day, -3, @CURRENT_DATE); END

	--ELSE IF ((DATENAME(dw,@CURRENT_DATE)) ='Friday') BEGIN
	--	SET @MONDAY = DATEADD(day, -4, @CURRENT_DATE); END

	--SET @FRIDAY = DATEADD(day, 4, @MONDAY)
	-- END

	SET @MONDAY = (SELECT WEEK_START FROM WEEK_RANGE WHERE WEEK_ID = @WK_RANGE_ID)
	SET @FRIDAY = (SELECT WEEK_END FROM WEEK_RANGE WHERE WEEK_ID = @WK_RANGE_ID)

	DECLARE @tempWeeklyReport TABLE (WR_ID INT,
									 WR_WEEK_RANGE_ID INT,
								     WR_PROJ_ID INT,
									 WR_REWORK SMALLINT, 
									 WR_REF_ID VARCHAR(20), 
									 WR_SUBJECT VARCHAR(MAX),
									 WR_SEVERITY SMALLINT, 
									 WR_INC_TYPE SMALLINT, 
									 WR_EMP_ID INT, 
									 WR_PHASE SMALLINT, 
									 WR_STATUS SMALLINT,  
									 WR_DATE_STARTED DATE, 
									 WR_DATE_TARGET DATE, 
									 WR_DATE_FINISHED DATE, 
									 WR_EFFORT_EST FLOAT, 
									 WR_ACT_EFFORT_WK FLOAT,
									 WR_ACT_EFFORT FLOAT,
									 WR_COMMENTS VARCHAR(MAX),
									 WR_INBOUND_CONTACTS SMALLINT,
								     WR_TASK_ID INT,
									 WR_PROJ_CODE INT 
									)
	-- Get Saved weekly report
	INSERT INTO @tempWeeklyReport (WR_ID, WR_WEEK_RANGE_ID, WR_PROJ_ID, 
								   WR_REWORK, WR_REF_ID, WR_SUBJECT,
								   WR_SEVERITY, WR_INC_TYPE, WR_EMP_ID, WR_PHASE, WR_STATUS,
								   WR_DATE_STARTED, WR_DATE_TARGET, WR_DATE_FINISHED,
								   WR_EFFORT_EST, WR_ACT_EFFORT_WK, WR_ACT_EFFORT,
								   WR_COMMENTS, WR_INBOUND_CONTACTS, WR_TASK_ID, WR_PROJ_CODE 
								   )
	SELECT WR_ID, WR_WEEK_RANGE_ID, WR_PROJ_ID, 
		   WR_REWORK, WR_REF_ID, WR_SUBJECT,
		   WR_SEVERITY, WR_INC_TYPE, WR_EMP_ID, WR_PHASE, WR_STATUS,
		   WR_DATE_STARTED, WR_DATE_TARGET, WR_DATE_FINISHED,
		   WR_EFFORT_EST, WR_ACT_EFFORT_WK, WR_ACT_EFFORT,
		   WR_COMMENTS, WR_INBOUND_CONTACTS, WR_TASK_ID, WR_PROJ_CODE 
	FROM WEEKLY_REPORT  
	WHERE WR_EMP_ID = @EMP_ID 
	AND	WR_WEEK_RANGE_ID = @WK_RANGE_ID 
	AND WR_DELETE_FG = 0

	-- Insert newly created task from current week
	INSERT INTO @tempWeeklyReport (WR_ID, WR_WEEK_RANGE_ID, WR_PROJ_ID, 
								   WR_REWORK, WR_REF_ID, WR_SUBJECT,
								   WR_SEVERITY, WR_INC_TYPE, WR_EMP_ID, WR_PHASE, WR_STATUS,
								   WR_DATE_STARTED, WR_DATE_TARGET, WR_DATE_FINISHED,
								   WR_EFFORT_EST, WR_ACT_EFFORT_WK, WR_ACT_EFFORT,
								   WR_COMMENTS, WR_INBOUND_CONTACTS, WR_TASK_ID, WR_PROJ_CODE 
								   ) 
	SELECT 0, 0, PROJ_ID, 
		   REWORK, REF_ID, INC_DESCR,
		   SEVERITY, INC_TYPE, EMP_ID, PHASE, STATUS,
		   DATE_STARTED, TARGET_DATE, COMPLTD_DATE,
		   EFFORT_EST, ACT_EFFORT_WK, ACT_EFFORT,
		   COMMENTS, 0, TASK_ID, PROJECT_CODE 
	FROM TASKS
	WHERE EMP_ID = @EMP_ID 
	AND DATE_CREATED BETWEEN @MONDAY AND @FRIDAY
	AND TASK_ID NOT IN (SELECT WR_TASK_ID FROM WEEKLY_REPORT 
						WHERE WR_EMP_ID = @EMP_ID 
						AND WR_WEEK_RANGE_ID = @WK_RANGE_ID)

	SELECT * FROM @tempWeeklyReport

END
 



GO
