USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActionListsAll]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetActionListsAll]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActionListsAll]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetActionListsAll]
	@EMAIL_ADDRESS VARCHAR(50)
AS

BEGIN

	SELECT A.ACTREF, A.ACT_MESSAGE, A.EMP_ID, A.DUE_DATE, A.DATE_CLOSED, A.NICK_NAME
	FROM dbo.ACTIONLIST A INNER JOIN dbo.EMPLOYEE B 
	ON A.EMP_ID = B.EMP_ID
	WHERE B.DEPT_ID = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	AND B.DIV_ID = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	ORDER BY A.DATE_CREATED DESC
	
END

GO
