USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSabaCourses]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetAllSabaCourses]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSabaCourses]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSabaCourses]
@EMP_ID int

AS
DECLARE
		@DEPT_ID INT = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMP_ID = @EMP_ID),
		@DIV_ID INT = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMP_ID = @EMP_ID)
		
BEGIN							
	
	SELECT  a.SABA_ID AS SABA_ID, a.EMP_ID AS EMP_ID, a.TITLE AS TITLE, a.END_DATE AS END_DATE, (SELECT COUNT(*) 
			from SABA_XREF s INNER JOIN EMPLOYEE e on s.EMP_ID = e.EMP_ID where s.SABA_ID = a.SABA_ID AND E.DIV_ID = @DIV_ID 
			AND E.DEPT_ID = @DEPT_ID AND E.ACTIVE = 1) AS TOTAL_ENROLL, (select count(*) from SABA_XREF s INNER JOIN EMPLOYEE e 
			on s.EMP_ID = e.EMP_ID where s.SABA_ID = a.SABA_ID AND E.DIV_ID = @DIV_ID AND E.DEPT_ID = @DEPT_ID AND E.ACTIVE = 1 
			AND DATE_COMPLETED <> '') AS TOTAL_COMPLETED
	from [dbo].[SABA_COURSES] a INNER JOIN EMPLOYEE B
	ON A.EMP_ID = B.EMP_ID
	WHERE B.DEPT_ID = @DEPT_ID AND B.DIV_ID = @DIV_ID
	ORDER BY A.END_DATE  DESC

END
GO
