USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLessonLearnt]    Script Date: 04/22/2020 2:29:00 PM ******/
DROP PROCEDURE [dbo].[sp_GetAllLessonLearnt]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLessonLearnt]    Script Date: 04/22/2020 2:29:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllLessonLearnt]
	@EMAIL_ADDRESS VARCHAR(MAX)
AS
	
	DECLARE @DEPT_ID AS INT = (SELECT DEPT_ID FROM EMPLOYEE e INNER JOIN CONTACTS c
							   ON e.EMP_ID = c.EMP_ID WHERE c.EMAIL_ADDRESS = @EMAIL_ADDRESS) 
	
	DECLARE @DIV_ID AS INT = (SELECT DIV_ID FROM EMPLOYEE e INNER JOIN CONTACTS c
							  ON e.EMP_ID = c.EMP_ID WHERE c.EMAIL_ADDRESS = @EMAIL_ADDRESS) 

	SELECT 
		[REF_NO], 
		[L].[EMP_ID], 
		[FIRST_NAME] AS NICK_NAME, 
		[PROBLEM], 
		[RESOLUTION], 
		[ACTION_NO]
	FROM LESSON_LEARNT L INNER JOIN EMPLOYEE E on L.EMP_ID = E.EMP_ID 
	AND E.DEPT_ID = @DEPT_ID
	AND E.DIV_ID = @DIV_ID
	ORDER BY DATE_CREATED DESC


GO
